$white-dark: #f3f3f3;
$white: #fff;
$black: #000;

$yellow: #f2ca00;

$grey-1: #898f8f;
$grey-2: #666666;
$grey-3: #cccccc;
$grey-4: #333333;

$main-bg: #0079bf;
$primary-20: #3a7bd520;
$primary-light: #93a8dd;
$secondary: #fff;
